<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="sidebar.css">

<div class="sidebar">
    <div class="sidebar_inner">
        <div class="sidebar_item">
            <div class="nav-text">
                <span class="header-text">Dashboard</span>
            </div>
        </div>
        <div class="sidebar_item link">
            <a href="/home" class="page">
                <span class="icon"><i class="bi bi-columns-gap"></i></span>
                <span class="text">Overview</span>
            </a>
        </div>
        <div class="sidebar_item link">
            <a href="#" class="page">
                <span class="icon"><i class="bi bi-lock-fill"></i></span>
                <span class="text">Pwd Manager</span>
            </a>
        </div>
        <div class="sidebar_item link">
            <a href="#" class="page">
                <span class="icon"><i class="bi bi-key-fill"></i></span>
                <span class="text">Vpn</span>
            </a>
        </div>
        <div class="sidebar_item link"></div>
        <a href="/sys-info" class="page">
            <span class="icon"><i class="bi bi-laptop"></i></span>
            <span class="text">System Info</span>
        </a>
    </div>
</div>