<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="page-down.css">
    <title>Page Down</title>
</head>

<body style="background-color: #232327;">
    <div class="wrapper">
        <div class="container">
            <div class="text-container">
                <div class="text">
                    <span id="header">This page is currently down for repairs</span>
                    <br>
                    <span id="txt">We apologies for any inconvinience caused.</span>
                    <span id="txt">We're almost done.</span>
                    <br>
                    <span id="home-btn">Click <a href="/home" id="btn">here</a> to return to home.</span>
                </div>
                <div class="img">
                    <img src="/construction_penguin-removebg-preview.png" class="stretchy">
                </div>
            </div>
        </div>
    </div>
</body>

</html>