<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="reset.css">
    <title>Reset password</title>
</head>

<body>
    <% if (success) {%>
        <div class="wrapper">
            <div class="success-container">
                <h1 style="color: lime;">Password Successfully Changed</h1>
                <p>Click <a href="/" style="text-decoration: none;">here</a> to return to login page.</p>
            </div>
        </div>
    <% } else {%>
        <div class="wrapper">
            <div class="container">
                <form action="/update-password" class="reset-form" method="post">
                    <div class="grid-item">
                        <div class="logo">
                            <h2>Reset password</h2>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="text">
                            <% if (token) {%>
                                <p>Enter new password to update <br>Token:<%= token %>
                                </p>
                                <input type="hidden" name="token" value="<%= token %>">
                                <% } %>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="input-ps">
                            <i class="bi bi-lock"></i>
                            <div class="ps-input">
                                <input type="password" id="ps1" name="pwd" placeholder="New Password" required>
                                <i class="bi bi-eye-slash icon" id="togglePassword1"></i>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="input-ps">
                            <i class="bi bi-lock"></i>
                            <div class="ps-input">
                                <input type="password" id="ps2" name="pwd2" placeholder="Confirm Password" required>
                                <i class="bi bi-eye-slash icon" id="togglePassword2"></i>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <small id="valid-text" style="color:red"></small>
                    </div>
                    <div class="grid-item">
                        <div class="update-btn">
                            <input type="submit" value="Update Password" id="submit" disabled>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    <% } %>
                <script>

                    const pwd = $('#ps1');
                    const confirm_pwd = $('#ps2');
                    confirm_pwd[0].addEventListener('input', function () {
                        // if (pwd.textContent !== confirm_pwd.textContent) {
                        //     $('#valid-text').innerHTML = 'Password does not match';
                        // }
                        if (pwd.val() !== confirm_pwd.val()) {
                            $('#valid-text').html('Password does not match');
                            $('#submit').attr('disabled')
                        } else {
                            $('#valid-text').html('');
                            $('#submit').removeAttr('disabled');
                        }
                    });

                    const togglePassword1 = document.getElementById('togglePassword1');
                    const password1 = document.getElementById('ps1');
                    const togglePassword2 = document.getElementById('togglePassword2');
                    const password2 = document.getElementById('ps2')
                    togglePassword1.addEventListener('click', () => {
                        // toggle type attr
                        const type = password1.getAttribute('type') === "password" ? "text" : "password";
                        password1.setAttribute('type', type);
                        // toggle icon
                        togglePassword1.classList.toggle("bi-eye");
                    });
                    togglePassword2.addEventListener('click', () => {
                        // toggle type attr
                        const type2 = password2.getAttribute('type') === "password" ? "text" : "password";
                        password2.setAttribute('type', type2);
                        // toggle icon
                        togglePassword2.classList.toggle("bi-eye");
                    });


                </script>
</body>

</html>