<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="sharedfolder.css">
    <title>SharedFolder</title>
</head>
<body style="background-color: #232327;">
    <!-- include nav bar -->
    <%- include('./partials/side_bar'); %>
    <div class="wrapper">
        <div class="container">
            <a href="file:////home/cyrof/projects/pi_website/README.md">click me</a>
            <object data="/home/cyrof/sharedStuff/folder for other stuff"></object>
        </div>
    </div>
    
</body>
</html>