/* stylsheet to style forgot password page */
body {
    margin: 0;
}

/* wrapper style */
.wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* container style */
.container {
    height: 35%;
    width: 20%;
    box-shadow: 1px 1px 1px 1px #d1cfcf;
    border-radius: 20px;
}

/* rpl form class style */
.rpl {
    display: grid;
    grid-template-columns: repeat(1, fr);
}

/* grid item style */
.grid-item {
    width: 100%;
    text-align: center;
}

/* logo style */
.logo{
    font-weight: bold;
}

.logo>h3{
    margin: 2vh 0 1vh 0;
}

/* fgt ps text style */
.text {
    color: #878787;
    margin-bottom: 2em;
}

/* email input style */
.input-email {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5em;
    justify-content: space-evenly;
}

.input-email>input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #bab8b8;
}

.input-email>input:focus{
    outline: none;
}

.back-home {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5em;
    width: 85%;
}

#bck-hm {
    margin-left: auto;
    text-decoration: none;
    font-size: 11px;
}

.reset-btn{
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: center;
}

.reset-btn>input {
    margin-left: auto;
    border-radius: 5px;
    border: 1px solid #c2c2c2;
    margin-bottom: 1.2em;
    background-color: white;
}

/* phone  media*/
@media only screen and (max-width: 600px) {
    .container{
        height: 40%;
        width: 60%;
    }
}

/* portrait tablet media */
@media only screen and (max-width: 1000px) and (min-width: 600px) {
    .container {
        height: 30%;
        width: 50%;
    }
}

/* landscape tablet media */
@media only screen and (max-width: 1100px) and (min-width: 768px){
    .container {
        height: 40%;
        width: 30%;
    }
}

/* laptop/desktop media */
@media only screen and (max-width: 1500px) and (min-width: 1200px){
    .container {
        height: 30%;
        width: 30%;
    }
}