/* stylesheet for shared folder page */

.wrapper {
    display: flex;
    width: calc(100vw - 15rem);
    height: calc(100vh - 5rem);
    left: 15rem;
    margin-left: 15rem;
}


/* folder style */
.folder {
    color: #F7F8FC;
    width: 100%;
    margin: 1em 0 1em 0;
    position: relative;
}

/* file style */
.file-header {
    /* background-color: rgb(212, 85, 0); */
    background-color: rgb(117, 0, 212);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1.1rem;
}

.file-header>th {
    padding: 10px;
}

.file {
    background-color: #343438;
}

.file:hover {
    background-color: #353232;
}

.file:hover td>a {
    color: #d3d3d3;
}

.file:nth-of-type(odd) {
    background-color: #3c3c3f;
}

.file:nth-of-type(odd):hover {
    background-color: #353232;
}

.file:nth-of-type(odd):hover td>a {
    color: #d3d3d3;
}

.file-content {
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
}

.file-content>a {
    text-decoration: none;
    /* color: rgb(255, 169, 70); */
    color: #F7F8FC;
}

.file-content>a:hover {
    text-decoration: none;
    color: #d3d3d3;
}


/* download button style */
.DbtnBox {
    background-color: #7e57c2;
    border-radius: 10px;
    /* text-align: center; */
    width: 7rem;
    text-align: center;
}

.btn-icon {
    position: relative;
    height: 1.5em;
    text-align: center;
}

.Dbtn>span {
    height: 1.5em;
}

.Dbtn {
    width: 100%;
    color: #F7F8FC;
    display: flex;
    gap: 0.5em;
    text-align: center;
    justify-content: center;
}

.DbtnBox:hover {
    background-color: #7651b6;
}

.Dbtn:hover {
    color: #dddddd;
    text-decoration: none;
}

/* upload popup style */
.model-container {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.model-content {
    color: white;
    background-color: #232327;
    border: 1px solid #39393d;
    width: 50%;
    height: 30rem;
    margin: 10rem auto;
    padding: 1rem;
}

.close {
    color: #999898 !important;
    float: right !important;
    font-size: 2em !important;
    font-weight: bold !important;
}

.close:hover,
.close:focus {
    color: #7c7c7c;
    text-decoration: none;
    cursor: pointer;
}

.upload-button {
    float: right;
    margin-bottom: 1rem;
}

#upload-model-btn{
    background-color: #7e57c2;
    border-radius: 10px;
    color: #F7F8FC;
    width: 8em;
    height: 2em;
    border: 1px solid #7e57c2;
}

#upload-model-btn:hover{
    background-color: #7651b6;
    border: 1px solid #7651b6;

}

.upload-content {
    position: relative;
}

#upload-content {
    border: 1px solid black;
    background-color: #424247;
    outline: 2px dashed black;
    outline-offset: -10px;
    height: 26rem;
    padding: 1em;
    margin-top: 2.5em;
    text-align: center !important;
    width: 100%;
}

.upload-form {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}


.upload-form>i {
    font-size: 5em;
}

.upload-form>p {
    font-size: 1.5em;
}

#drag-drop {
    display: none;
}

#drag-drop-lab {
    cursor: pointer;
    border: 1px solid #F7F8FC;
    border-radius: 5px;
    color: black;
    background: #F7F8FC;
}

#drag-drop-lab:hover{
    background-color: rgb(196, 196, 196);
    border: 1px solid rgb(196, 196, 196);
}


#upload-sub {
    border: 1px solid #F7F8FC;
    border-radius: 5px;
    color: black;
    background: #F7F8FC;
    width: 5rem;
    margin-left: auto;
}

#upload-sub:hover{
    background-color: rgb(196, 196, 196);
    border: 1px solid rgb(196, 196, 196);
}

.show-files {
    display: flex;
    flex-direction: row;
    gap: 1em;
    height: 3em;
}

#file {
    border: 1px solid #F7F8FC;
    color: black;
    background: #F7F8FC;
    border-radius: 5px;
    padding: 2px;
}

/* custom right click */
/* =================================== */
.contextMenu{
    display: None;
}