/* stylesheet for shared folder page */

.wrapper {
    display: flex;
    width: calc(100vw - 15rem);
    height: calc(100vh - 5rem);
    position: relative;
    left: 15rem;
    /* justify-content: center;
    align-items: center; */
}

/* folder style */
.folder {
    color: #F7F8FC;
    width: 100%;
    margin: 1em 0 1em 0;
}

/* file style */
.file-header {
    /* background-color: rgb(212, 85, 0); */
    background-color: rgb(117, 0, 212);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1.1rem;
}

.file-header>th{
    padding: 10px;
}

.file{
    background-color: #343438;
}

.file:hover{
    background-color: #353232;
}

.file:hover td>a{
    color: #d3d3d3;
}

.file:nth-of-type(odd){
    background-color: #3c3c3f;
}

.file:nth-of-type(odd):hover{
    background-color: #353232;
}

.file:nth-of-type(odd):hover td>a{
    color: #d3d3d3;
}

.file-content {
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
}

.file-content>a{
    text-decoration: none;
    /* color: rgb(255, 169, 70); */
    color: #F7F8FC;
}

.file-content>a:hover{
    text-decoration: none;
    color: #d3d3d3;
}


/* download button style */
.DbtnBox{
    background-color: #7e57c2;
    border-radius: 10px;
    /* text-align: center; */
    width: 7rem;
    text-align: center;
}

.btn-icon{
    position: relative;
    height: 1.5em;
    text-align: center;
}

.Dbtn>span {
    height: 1.5em;
}

.Dbtn {
    width: 100%;
    color: #F7F8FC;
    display: flex;
    gap: 0.5em;
    text-align: center;
    justify-content: center;
}

.DbtnBox:hover{
    background-color: #7651b6;
}

.Dbtn:hover{
    color: #dddddd;
    text-decoration: none;
}

